<template>
  <div class="home">
    <img alt="Vue logo" :src="imgSrc" />

    <div class="counter-container">
      <div class="counter-text">
        The current counter is: {{ counterVal }}
      </div>

      <button :class="{ 'faded': isCounterAnimating }" @click="incBy10">Increment by 10</button>
      <button :class="{ 'faded': isCounterAnimating }" @click="decBy10">Decrement by 10</button>
      <button :class="{ 'faded': isCounterAnimating }" @click="animPlus20">Animate to +20</button>
      <button :class="{ 'faded': isCounterAnimating }" @click="animMinus20">Animate to -20</button>
    </div>
  </div>
</template>

<script src="./Home.js"></script>

<style src="./Home.scss" lang="scss" scoped></style>
