<template>
  <div class="list-item">
    <div class="index"> {{ number }} </div>
    <div class="quiz-name">{{quizName}}</div>
    <div class="author-name">{{authorName}}</div>
  </div>
</template>

<script>
export default {
  name: 'list-item',
  props: {
    id: String,
    number: Number,
    quizName: String,
    authorName: String,
  }
}
</script>

<style lang="scss" scoped>
.list-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  padding: 4px 20px;
  background-color: rgba(#000, 0.2);
  margin-top: 4px;
  margin-bottom: 4px;
  font-size: 12px;
}

.index {
  flex: 0.1;
}
.quiz-name {
  flex: 0.55;
  font-weight: bold;
}
.author-name {
  flex: 0.35;
}
</style>

