<template>
  <div id="root">
    <div id="nav">
      <router-link to="/">Home</router-link> |
      <router-link to="/featured">Featured</router-link>
    </div>

    <router-view />
  </div>
</template>

<script src="./Root.js"></script>

<style lang="scss" src="./Root.scss"></style>
