<template>
  <div class="featured-container">
    <h1>This page is just going to list the featured quiz set</h1>

    <div class="loader" v-if="isFeaturedLoading">
      LIST IS LOADING
    </div>

    <div class="list-container" v-else>
      <button @click="showOnlyOdd">Show only Odd</button>
      <button @click="showOnlyEven">Show only Even</button>
      <button @click="showFirst45">Show only first 45</button>

      <div class="list">
        <template v-if="mode === 'odd'">
          <list-item v-for="( item, index ) of onlyOddItems"
            :key="item._id"
            :id="item._id"
            :number="index + 1"
            :quizName="item.info.name"
            :authorName="item.createdBy.name"
          />
        </template>

        <template v-else-if="mode === 'even'">
          <list-item v-for="( item, index ) of onlyEvenItems"
            :key="item._id"
            :id="item._id"
            :number="index + 1"
            :quizName="item.info.name"
            :authorName="item.createdBy.name"
          />
        </template>

        <template v-else-if="mode === 'first45'">
          <list-item v-for="( item, index ) of firstNItemsOfTheList( 45 )"
            :key="item._id"
            :id="item._id"
            :number="index + 1"
            :quizName="item.info.name"
            :authorName="item.createdBy.name"
          />
        </template>
      </div>

    </div>
  </div>
</template>

<script src="./Featured.js"></script>

<style src="./Featured.scss" lang="scss" scoped></style>
